body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Picture {
  height: 150px;
  width: 150px;
  border-radius: 8px;
}

.bg-image {
  background-image: url('auto-pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
